.app-header__user-info span {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url(../../../img/logout.svg) no-repeat;
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 15px;
}